{% extends "base_site.html" %}

{% block container-hero-content %}
    <h1>Contact</h1><br/>
    <p>For bugs, issues see github: link coming... <br/>
       <p>Programmer: at github <a href="https://https://github.com/aflower">aflower</a>.</p>
{% endblock container-hero-content %}

{% block container-hero-content2 %}

{% endblock container-hero-content2 %}

{% block container-content %}

    <div id="howto-container" class="row">
        <div id="howto" class="span16">
            <h2>No commercial support</h2>
            <ul>
                <li>Nope...</li>
            </ul>
        </div>
    </div>

{% endblock container-content %}
